{
  "addons": {
    "zotero-ocr@uni-mannheim.de": {
      "updates": [
        {
          "version": "0.7.0",
          "update_link": "https://github.com/UB-Mannheim/zotero-ocr/releases/tag/0.7.0/zotero-ocr-0.7.0.xpi",
          "update_hash": "sha256:0000000000000000000000000000000000000000000000000000000000000000",
          "applications": {
            "gecko": {
              "strict_min_version": "60.9",
              "strict_max_version": "60.9"
            },
            "zotero": {
              "strict_min_version": "6.999",
              "strict_max_version": "7.0.*"
            }
          }
        }
      ]
    }
  }
}
